* text=auto !eol
/Makefile -text
/apertium-nld-fry.fry-nld.lrx -text
/apertium-nld-fry.fry-nld.t1x -text
/apertium-nld-fry.fry.dix -text
/apertium-nld-fry.nld-fry.dix -text
/apertium-nld-fry.nld-fry.lrx -text
/apertium-nld-fry.nld-fry.rlx -text
/apertium-nld-fry.nld-fry.t1x -text
/apertium-nld-fry.nld.dix -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.fry-nld.txt -text
dev/testvoc/testvoc-summary.nld-fry.txt -text
dev/testvoc/testvoc.sh -text
/fry-nld.prob -text svneol=unset#unset
/modes.xml -text
/nld-fry.prob -text svneol=unset#unset
nld/apertium-nld-fry.nld.dix.full -text
nld/backup_update.sh -text
nld/trimDict.py -text
nld/update.sh -text
texts/story.fry.1.txt -text
texts/story.fry.2.txt -text
texts/story.nld.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
